.createcategory_wrapper{
    background-color: #FFF;
    height: fit-content;
    width: fit-content;
    border: 1px solid #E4E7EC;
    box-shadow: 0px 0px 1px rgba(10, 22, 70, 0.06), 0px 3px 3px -1px rgba(10, 22, 70, 0.1);
    border-radius: 5px;
}
.createcategory_form{
    padding: 20px;
  
}
.createcategory_form h3{
    color: #2A3441;
    margin-bottom:1rem;
}
.createcategory_input{
    margin-bottom: 1.5rem;
}
.createcategory_input input, .createcategory_input select{
    display: block;
    height: 40px;
    width: 500px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 20px;
    background-color: #FFF;

}
.createcategory_input label{
    color: #2A3441;
    font-size: 14px;
}
.createcategory_form button{
    background-color: #25D366;
    color: #FFF;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
}